
body {
    background-color:  #F2F1F0;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Helvetica', sans-serif;
}

#tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 14px;
    pointer-events: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 4px;
    z-index: 9999;
}


#graphic {
    margin: auto;
    width: 1500px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

#sections {
    width: 30%;
    padding-right: 40px;
    position: relative;
    top: 20px;
}


.step {
    margin-bottom: 100px;
    height: 700px;
    line-height: 1.4em;
    font-size: 16px;
    text-align: justify;
    opacity: 0.3;
    transition: opacity 0.4s ease;
}

.step.active {
    opacity: 1;
}

#vis {
    width: 70%;
    position: sticky;
    top: 0;
    height: 100vh;
    /* o gráfico fica fixo enquanto o texto rola */
}
